body {
    background: #96ceb4;
}

div#top-div {
    background: #ffeead;
}

h1 {
    text-align: center;
    margin: auto;
    font-style: italic;
}

h2 {
    padding: 10px;
    font-style: italic;
    background: #588c7e;
}

table {
    background: #ffcc5c;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    border-collapse: collapse;
}

tr td {
    border: 1px solid black;
}

#about-p {
    text-align: center;
}

a:hover {
    color: blue
}

